/**
 *    Базовые стили
 */
body{background-color:rgb(81, 130, 188); color: white; line-height:1.4;
    font-family: "PT Sans"}

a{opacity:1; transition: opacity .7s ease, color .7s ease;}
/*
a:hover,
a.hover{color:rgb(245, 25, 43); transition-duration:.1s}
*/
a:active,
a.pressed{opacity:.6; transition: opacity .1s ease, color .1s ease}

p{margin-bottom: 5px}

/**
 *  Разметка (layout)
 */
.layout-global-wrapper{width:100%; min-width:800px; height:100%; position:relative;}
.layout-wrapper{width:600px; margin:0 auto; position:relative; min-height:1px;
    padding: 10px 0}

.layout-top-layer{width:100%; height:0; position:absolute; left:0; top:0; z-index:99999;
    transition:top 0 ease .7s; overflow:hidden}
.layout-top-layer.visible{height:100%; transition:top 0 ease 0}
.layout-top-layer__shadow{width:100%; height:100%; position:absolute; left:0; top:0; z-index:0;
    background-color:rgba(0,0,0,0); box-shadow:inset 0 0 300px rgba(0,0,0,0);
    transition:background-color .7s ease, box-shadow .7s ease}
.layout-top-layer__shadow.visible{background-color:rgba(0,0,0,.5);
     box-shadow:inset 0 0 300px rgba(0,0,0,.35)}

.layout-lead-10{height:10px}
.layout-lead-20{height:20px}
.layout-lead-40{height:40px}
.layout-lead-60{height:60px}

.dec-page{background-color: white; color:rgba(0,0,0,.8); box-shadow:0 20px 50px -20px rgba(0,0,0,.2)}

[class^="grid-"]{display:block}
[class^="col-"]{display:inline-block; vertical-align:top; min-height:1px; padding:5px 15px}

.grid-12 > .col-1{width:8.33%}
.grid-12 > .col-2{width:16.66%}
.grid-12 > .col-3{width:25%}
.grid-12 > .col-4{width:33.33%}
.grid-12 > .col-5{width:41.66%}
.grid-12 > .col-6{width:50%}
.grid-12 > .col-7{width:58.33%}
.grid-12 > .col-8{width:66.66%}
.grid-12 > .col-9{width:75%}
.grid-12 > .col-10{width:83.33%}
.grid-12 > .col-11{width:91.66%}
.grid-12 > .col-12{width:100%}
.grid-12 > .margin-1{margin-left:8.33%}
.grid-12 > .margin-2{margin-left:16.66%}
.grid-12 > .margin-3{margin-left:25%}
.grid-12 > .margin-4{margin-left:33.33%}
.grid-12 > .margin-5{margin-left:41.66%}
.grid-12 > .margin-6{margin-left:50%}
.grid-12 > .margin-7{margin-left:58.33%}
.grid-12 > .margin-8{margin-left:66.66%}
.grid-12 > .margin-9{margin-left:75%}
.grid-12 > .margin-10{margin-left:83.33%}
.grid-12 > .margin-11{margin-left:91.66%}

.mb-page-header{text-align: center; font-size: 42px; font-weight:bold;}
.mb-ext-name{text-align: center}

.mb-delimiter{height: 0px; border-bottom:1px solid rgba(0,0,0,.1);
    margin-top:10px; margin-bottom:10px;}

.mb-block-header{font-size:18px; font-weight:bold;}
.mb-block-header__description{font-size:14px; font-weight: normal; font-style: italic;
    color: rgba(0,0,0,.6)}
.mb-block-header__description:before{content: '— '}

.mb-label__checkbox{display:inline-block; position:relative;
     margin-right:-5px; padding:0 5px 1px 23px; cursor: pointer}
.mb-label__checkbox > input[type="checkbox"]{position:absolute; left:1px; top:.15em;}
.mb-label__checkbox:hover{background-color: rgba(0,0,0,.05)}

.mb-label__select{margin-left:23px;}

.b-footer{text-align:center}
.b-footer__sign{display:inline-block; width:29px; height:29px; opacity:.8;
    background-repeat: no-repeat; background-image: url('icw82.png');
    transition: opacity .7s ease, color .7s ease;}
.b-footer__sign:hover{opacity: 1;
    transition: opacity .2s ease, color .2s ease;}
