<!DOCTYPE html>
<html ng-app="kenzo-vk">
<head>
    <title>Настройки Kenzo VK</title>
    <meta charset="UTF-8" />

    <link type="image/png" rel="icon" href="../images/icons/favicon.png" />
    <link rel="stylesheet" href="../styles/kk-reset.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body ng-controller="settings">
    <div class="layout-global-wrapper">
        <div class="layout-wrapper">
            <div class="grid-12">
                <div class="col-12">
                    <div class="mb-page-header" ng-bind="i18n.header"></div>
                    <div class="mb-ext-name">
                        <span ng-bind="Manifest.name"></span>
                        <span ng-bind="Manifest.version"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-wrapper dec-page">
<!-- --------------------------- -->
<div class="grid-12">
    <div class="col-12">
        <div class="mb-annotation" ng-bind="i18n.annotation"></div>
    </div>
</div>
<div class="mb-delimiter"></div>
<!-- --------------------------- ng-bind="" -->
<div class="grid-12">
    <div class="col-12">
        <div class="mb-block-header" ng-bind="i18n.audio.header">
            <span class="mb-block-header__description" ng-bind="i18n.audio.description"></span>
        </div>
    </div>
    <div class="col-6">
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.audio__cache">
                <span ng-bind="i18n.audio.options.cache"></span>
            </label>
        </p>
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.audio__vbr">
                <span ng-bind="i18n.audio.options.vbr"></span>
            </label>
        </p>
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.audio__progress_bars">
                <span ng-bind="i18n.audio.options.progress_bars"></span>
            </label>
        </p>
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.audio__simplified">
                <span ng-bind="i18n.audio.options.simplified"></span>
            </label>
        </p>
    </div><div class="col-6">
        <p>
            <label class="mb-label__select">
                <span ng-bind="i18n.audio.options.separator"></span>
                <select ng-model="Options.audio__separator">
                    <option value="—">— (тире)</option>
                    <option value="–">– (среднее тире)</option>
                    <option value="-">- (дефис)</option>
                </select>
            </label>
        </p>
    </div>
</div>
<div class="mb-delimiter"></div>
<!-- --------------------------- -->
<!--
<div class="grid-12">
    <div class="col-12">
        <div class="mb-block-header">
            <span ng-bind="i18n.video.header"></span>
            <span class="mb-block-header__description" ng-bind="i18n.video.description"></span>
        </div>
    </div>
    <div class="col-12">
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.video__direct_links">
                <span ng-bind="i18n.video.options.direct_links"></span>
            </label>
        </p>
    </div>
</div>
<div class="mb-delimiter"></div>
-->
<!-- --------------------------- -->
<div class="grid-12">
    <div class="col-12">
        <div class="mb-block-header">
            <span ng-bind="i18n.trash.header"></span>
            <span class="mb-block-header__description" ng-bind="i18n.trash.description"></span>
        </div>
    </div>
    <div class="col-6">
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.trash__lsb__ad">
                <span ng-bind="i18n.trash.options.lsb__ad"></span>
            </label>
        </p>
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.trash__newsads">
                <span ng-bind="i18n.trash.options.newsads"></span>
            </label>
        </p>
    </div><div class="col-6">
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.trash__lsb__fr">
                <span ng-bind="i18n.trash.options.lsb__fr"></span>
            </label>
        </p>
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.trash__group_recom">
                <span ng-bind="i18n.trash.options.group_recom"></span>
            </label>
        </p>
    </div>
</div>
<div class="mb-delimiter"></div>
<!-- --------------------------- -->
<div class="grid-12">
    <div class="col-6">
        <p>
            <label class="mb-label__checkbox">
                <input type="checkbox" ng-model="Options.debug">
                <span ng-bind="i18n.debug"></span>
            </label>
        </p>
    </div><div class="col-6">

    </div>
</div>
<!-- --------------------------- -->
        </div>
        <div class="layout-wrapper">
            <div class="grid-12">
                <div class="col-12">
                    <div class="b-footer">
                        <a class="b-footer__sign" href="http://icw82.ru"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/core.min.js"></script>
    <script src="script.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</body>
</html>
