env/*
.env/
._*
*#
*~
*.pyc
settings/local.py
.hg*
_notes
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
logs/
.log
/build/
/node_modules/
/bower_components/
/.sources/
/.builds/
/.old/
