<!DOCTYPE html>
<html ng-app="kenzo-vk">
<head>
    <title></title>
    <meta charset="UTF-8" />

    <link type="image/png" rel="icon" href="../images/icons/16.png" />
    <link rel="stylesheet" href="../styles/kk-reset.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body ng-controller="settings">
    <div class="layout-global-wrapper">
        <div class="layout-wrapper">
            <div class="b-header">
                <div class="b-header__header" ng-bind="i18n.header"></div>
                <div class="b-header__extention">
                    <span class="b-header__name" ng-bind="Manifest.name"></span>
                    <span class="b-header__version" ng-bind="Manifest.version"></span>
                </div>
            </div>
        </div>
        <div class="layout-wrapper dec-page">
            <div class="compensator">
                <div class="grid-8">
                    <div class="col-4">
                        <p class="a-info" ng-bind="i18n.info.changes"></p>
                    </div>
                    <div class="col-4">
                        <p class="a-info" ng-bind-html="i18n.info.beta"></p>
                    </div>
                </div>

                <div class="mb-lead"></div>

                <div class="grid-8 delimited">
                    <div class="col-4">
<!-- --------------------------- -->
<p>
    <label class="f-label checkbox level-1 outside">
        <input type="checkbox" ng-model="Options.audio">
        <span class="a-h1" ng-bind="i18n.audio.header"></span>
    </label>
</p>
<div class="f-group" ng-class="{off: !Options.audio}">
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.audio__cache">
            <span ng-bind="i18n.audio.options.cache"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.audio__vbr">
            <span ng-bind="i18n.audio.options.vbr"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.audio__progress_bars">
            <span ng-bind="i18n.audio.options.progress_bars"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.audio__simplified">
            <span ng-bind="i18n.audio.options.simplified"></span><br />
            <span ng-bind="i18n.audio.options.simplified__desc" class="a-description"></span>
        </label>
    </p>

    <p>
        <label class="f-label select">
            <span ng-bind="i18n.audio.options.separator"></span>
            <select
               ng-model="Options.audio__separator"
               ng-options="item.char as item.desc for item in i18n.audio.options.separators">
            </select>
        </label>
    </p>
</div>

<div class="mb-lead"></div>

<!-- trash -->
<p>
    <label class="f-label checkbox level-1 outside">
        <input type="checkbox" ng-model="Options.trash">
        <span class="a-h1" ng-bind="i18n.trash.header"></span>
    </label>
</p>
<div class="f-group" ng-class="{off: !Options.trash}">
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.trash__lsb__ad">
            <span ng-bind="i18n.trash.options.lsb__ad"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.trash__lsb__fr">
            <span ng-bind="i18n.trash.options.lsb__fr"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.trash__group_recom">
            <span ng-bind="i18n.trash.options.group_recom"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.trash__newsads">
            <span ng-bind="i18n.trash.options.newsads"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.trash__promoted_posts">
            <span ng-bind="i18n.trash.options.promoted_posts"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.trash__profile_rate">
            <span ng-bind="i18n.trash.options.profile_rate"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.trash__big_like">
            <span ng-bind="i18n.trash.options.big_like"></span>
        </label>
    </p>
</div>


<!-- --------------------------- -->
                </div><div class="col-4">
<!-- --------------------------- -->

<!-- video -->
<p>
    <label class="f-label checkbox level-1 outside">
        <input type="checkbox" ng-model="Options.video">
        <span class="a-h1" ng-bind="i18n.video.header"></span>
    </label>
</p>
<div class="f-group" ng-class="{off: !Options.video}">
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.video__progress_bars">
            <span ng-bind="i18n.video.options.progress_bars"></span>
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.video__simplified">
            <span ng-bind="i18n.video.options.simplified"></span>
        </label>
    </p>
</div>

<div class="mb-lead"></div>
<div class="mb-lead"></div>

<!-- scrobbler -->
<p>
    <label class="f-label checkbox level-1 outside short">
        <input type="checkbox" ng-model="Options.scrobbler">
        <span class="a-h1" ng-bind="i18n.scrobbler.header"></span>
    </label>
    <a class="f-button" ng-href="[[scrobbler.auth_url]]">
        Авторизировать
    </a>
</p>
<div class="f-group" ng-class="{off: !Options.scrobbler}">
    <p>
        На <input type="range" min="50" max="100" step="5"
            style="vertical-align: top; width:100px"
            ng-model="Options.scrobbler__proportion" />
        <span
            ng-bind="Options.scrobbler__proportion"></span>% композиции
        </label>
    </p>
    <p>
        <label class="f-label checkbox">
            <input type="checkbox" ng-model="Options.scrobbler__4m">
            <span>… или через 4 минуты </span>
        </label>
        <span class="a-description ">
            (в зависимости от того, какое событие наступит раньше)</span>
    </p>
</div>

<div class="mb-lead"></div>
<div class="mb-lead"></div>

<p>
    <span class="a-h1" ng-bind="i18n.others"></span>
</p>
<p ng-bind="i18n.filters.options.brackets"></p>

<div class="grid-8">
    <div class="col-2">
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="Options.filters__square_brackets">
                <span ng-bind="i18n.filters.options.square_brackets"></span>
            </label>
        </p>
    </div><div class="col-2">
        <p>
            <label class="f-label checkbox outside">
                <input type="checkbox" ng-model="Options.filters__curly_brackets">
                <span ng-bind="i18n.filters.options.curly_brackets"></span>
            </label>
        </p>
    </div>
</div>
<div class="mb-lead"></div>
<p>
    <label class="f-label checkbox">
        <input type="checkbox" ng-model="Options.debug">
        <span ng-bind="i18n.debug"></span>
    </label>
</p>
<!-- --------------------------- -->
                    </div>
                </div>
            </div>
            <div class="mb-lead"></div>
            <div class="mb-lead"></div>

            <p style="text-align:center">
                <button class="f-button" ng-click="defaults()" ng-bind="i18n.reset"></button>
            </p>
        </div>
        <div class="layout-wrapper">
            <div class="b-footer">
                <a class="b-footer__sign" href="http://icw82.ru#kenzovk"></a>
            </div>
        </div>
    </div>

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/angular-sanitize.min.js"></script>
    <script src="../scripts/kk.js"></script>
    <script src="../scripts/md5.min.js"></script>
    <script src="../scripts/he.js"></script>
    <script src="../scripts/core.min.js"></script>
    <script src="script.js"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</body>
</html>
