<!DOCTYPE html>
<html ng-app="kenzo">
<head>
    <title></title>

    <meta charset="UTF-8" />

    <link type="image/png" rel="icon" href="../images/icons/16.png" />
    <link rel="stylesheet" href="../styles/kk-reset.css" />
    <link rel="stylesheet" href="../styles/ui.css" />
    <link rel="stylesheet" href="../styles/options.css" />
</head>

<body>
    <div class="layout-global-wrapper">
        <div class="layout-wrapper">
            <div class="b-header"
                 ng-controller="OptionsHeaderCtrl">
                <div class="b-header__header" ng-bind="i18n.header"></div>
                <div class="b-header__extention">
                    <span class="b-header__name" ng-bind="manifest.name"></span>
                    <span class="b-header__version" ng-bind="manifest.version"></span>
                </div>
            </div>
        </div>
        <div class="layout-wrapper dec-page">
            <div class="compensator">
                <div class="grid"
                    ng-controller="OptionsTopCtrl as top">
                    <div class="col-4">
                        <p>
                            <button class="f-button" ng-click="top.defaults()"
                                ng-bind="i18n.reset"></button>
                        </p>
                    </div><div class="col-4">
                        <p class="a-info" ng-bind="i18n.info.changes"></p>
<!--
                        <p class="a-info">
                            <span class="f-2006-only"></span>
                            <span ng-bind="i18n.info.in2006"></span>
                            <br/>
                            <span class="f-2016-only"></span>
                            <span ng-bind="i18n.info.in2016"></span>
                        </p>
-->
                    </div><div class="col-4">
                        <p class="a-info" ng-bind-html="i18n.info.beta | safe"></p>
                    </div>
                </div>

                <div class="mb-lead"></div>
                <div class="mb-lead"></div>

                <div class="grid delimited modules">
                    <div class="col-4">
                        <div block="options-audio"></div>
<!--                        <div block="options-video"></div>-->
                        <div block="options-scrobbler"></div>
                    </div><div class="col-4">
                        <div block="options-common"></div>
                        <div block="options-ui"></div>
                        <div block="options-debug"></div>
                    </div><div class="col-4">
                        <div block="options-trash"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-wrapper">
            <div class="b-footer">
                <a class="b-footer__sign" href="http://icw82.ru#kenzovk"></a>
            </div>
        </div>
    </div>

    <script src="../scripts/kk.min.js"></script>

    <script src="../scripts/angular.min.js"></script>
    <script src="../scripts/md5.min.js"></script>
    <script src="../scripts/he.js"></script>

    <script src="../scripts/core.js"></script>
    <script src="../scripts/ext.js"></script>

    <script src="../scripts/ui.js"></script>
    <script src="../scripts/options.js"></script>

    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</body>
</html>
