/* Стили только для 2016 */
:root {
    --c_main: rgb(87, 124, 161);
}

.kzvk-download-button{display: inline-block; width: 37px; height: 24px;
    transition: height .2s ease, line-height .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kzvk-download-button__container{display: block; width: 100%; height: 100%}

.kzvk-download-button__item{display: block; width: 100%; height: 100%; box-sizing: border-box;
    position: absolute; left: 0; top: 0;
    border: 1px solid var(--c_main); border-radius: 12px;
    opacity: 0; pointer-events: none}

.kzvk-download-button__item > svg{width: 100%; height: calc(100% + 4px);
    position: absolute; left: 0; top: -2px}
.kzvk-download-button__item > svg > * {fill: var(--c_main); opacity: 0}


.kzvk-label
.kzvk-download-button__item.kzvk-label{opacity: 1; pointer-events: auto}

.kzvk-download-button__item.kzvk-label text{fill: var(--c_main); font-size: 11px;
    transform: translateY(4px); opacity: 1}
.kzvk-download-button__item.kzvk-label .kzvk-arrow{transform: translate(12px)}
.kzvk-download-button__item.kzvk-label .kzvk-overlay{fill: white; transform: translate(2px)}
.kzvk-download-button__item.kzvk-label .kzvk-shaft{transform: translate(5px)}
.kzvk-download-button__item.kzvk-label .kzvk-head{transform: translateY(5px)}

.kzvk-download-button__item.kzvk-label:hover text{opacity: 0}
.kzvk-download-button__item.kzvk-label:hover .kzvk-arrow{opacity: 1}


.kzvk-pending
.kzvk-download-button__item.kzvk-pending{opacity: 1; pointer-events: auto}
.kzvk-download-button__item.kzvk-pending .kzvk-arrow{transform: translate(10px, 9px); opacity: 1}
.kzvk-download-button__item.kzvk-pending .kzvk-cross{transform: translate(12px, 7px)}

.kzvk-download-button__item.kzvk-pending:hover .kzvk-arrow{opacity: 0}
.kzvk-download-button__item.kzvk-pending:hover .kzvk-cross{opacity: 1}


.kzvk-progress
.kzvk-download-button__item.kzvk-progress{overflow: hidden; opacity: 1; pointer-events: auto}
.kzvk-download-button__item.kzvk-progress .kzvk-filling{width: 100%; height: 100%; z-index: 1;
    fill: rgb(95, 127, 162); opacity: .4}
.kzvk-download-button__item.kzvk-progress .kzvk-cross{transform: translate(12px, 7px)}
.kzvk-download-button__item.kzvk-progress:hover .kzvk-filling{opacity: .3}
.kzvk-download-button__item.kzvk-progress:hover .kzvk-cross{opacity: 1}


.kzvk-unavailable
.kzvk-download-button__item.kzvk-unavailable{opacity: 1; pointer-events: auto}
.kzvk-download-button__item.kzvk-unavailable text{fill: var(--c_main); font-size: 15px;
    transform: translateY(5px); opacity: 1}
