/* Стили только для 2016 */
.kzvk-download-button{
    display: inline-block; width: var(--a-btn-w); height: var(--a-btn-h);
    transition: height .2s ease, line-height .2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kzvk-download-button__container{display: block; width: 100%; height: 100%}

.kzvk-download-button__item{
    display: block; width: 100%; height: 100%; box-sizing: border-box;
    position: absolute; left: 0; top: 0;
    border: 1px solid var(--color-main); border-radius: var(--a-btn-radius);
    opacity: 0; pointer-events: none}

.kzvk-download-button__item > svg{width: 100%; height: calc(100% + 4px);
    position: absolute; left: 0; top: -2px}
.kzvk-download-button__item > svg > * {fill: var(--color-main); opacity: 0}

.kzvk-label
.kzvk-download-button__item.kzvk-label{
    opacity: 1; pointer-events: auto}

.kzvk-download-button__item.kzvk-label text{
    fill: var(--color-main); font-size: 11px; opacity: 1;
    transform: translate(0, 4px)}
.kzvk-download-button__item.kzvk-label .kzvk-arrow{}
.kzvk-download-button__item.kzvk-label .kzvk-overlay{fill: white;
    transform: translate(-3px)}
.kzvk-download-button__item.kzvk-label .kzvk-head{
    transform: translate(-6px, -6.7px); /*stroke: var(--color-main)*/ }

.kzvk-download-button__item.kzvk-label:hover text{opacity: 0}
.kzvk-download-button__item.kzvk-label:hover .kzvk-arrow{opacity: 1}

.kzvk-pending
.kzvk-download-button__item.kzvk-pending{
    opacity: 1; pointer-events: auto}
.kzvk-download-button__item.kzvk-pending .kzvk-arrow{opacity: 1;
    transform: translate3d(-7px, -4px, 0)}
.kzvk-download-button__item.kzvk-pending .kzvk-cross{
    transform: translate3d(-5px, -5px, 0)}

.kzvk-download-button__item.kzvk-pending:hover .kzvk-arrow{opacity: 0}
.kzvk-download-button__item.kzvk-pending:hover .kzvk-cross{opacity: 1}

.kzvk-progress
.kzvk-download-button__item.kzvk-progress{
    overflow: hidden; opacity: 1; pointer-events: auto}
.kzvk-download-button__item.kzvk-progress .kzvk-filling{
    width: 100%; height: 100%; z-index: 1; fill: rgb(95, 127, 162); opacity: .4}
.kzvk-download-button__item.kzvk-progress .kzvk-cross{
    transform: translate3d(-5px, -5px, 0)}
.kzvk-download-button__item.kzvk-progress:hover .kzvk-filling{opacity: .3}
.kzvk-download-button__item.kzvk-progress:hover .kzvk-cross{opacity: 1}

.kzvk-unavailable
.kzvk-download-button__item.kzvk-unavailable{opacity: 1; pointer-events: auto}
.kzvk-download-button__item.kzvk-unavailable text{
    fill: var(--color-main); font-size: 15px; transform: translateY(5px);
    opacity: 1}
