.audio_w_covers .audio_row {
    height: 54px;
    padding: 3px 0
}

.audio_w_covers .audio_row.audio_row__deleted .audio_row__cover,
.audio_w_covers .audio_row.audio_row__deleted .audio_row__performer_title {
    opacity: 0.5
}

.audio_w_covers .audio_row .audio_row__play_btn {
    display: none
}

.audio_w_covers .audio_row.ui_gridsorter_moveable {
    box-shadow: none;
    background-color: transparent
}

.audio_w_covers .audio_row.ui_gridsorter_moveable .audio_row_content {
    background-color: #fff;
    box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, .34);
    border-radius: 2px
}

.audio_w_covers .audio_row .audio_row__cover,
.audio_w_covers .audio_row .audio_row__cover_back,
.audio_w_covers .audio_row .audio_row__cover_icon,
.audio_w_covers .audio_row .audio_row__sound_bars {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 7px;
    left: 4px
}

.audio_w_covers .audio_row .audio_row__cover {
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    background-size: cover;
    border-radius: 2px;
    background-image: url('/images/audio_row_placeholder.png')
}

.is_2x .audio_w_covers .audio_row .audio_row__cover {
    background-image: url('/images/audio_row_placeholder_2x.png')
}

.audio_w_covers .audio_row .audio_row__cover_back {
    background-color: transparent;
    -o-transition: background-color 60ms linear;
    transition: background-color 60ms linear;
    border-radius: 2px
}

.audio_w_covers .audio_row .audio_row__cover_icon {
    background-repeat: no-repeat;
    background-position: 50%;
    display: none
}

.audio_w_covers .audio_row:hover .audio_row__cover_icon {
    display: block
}

.audio_w_covers .audio_row:hover .audio_row__sound_bars {
    display: none
}

.audio_w_covers .audio_row.audio_row__current .audio_row__cover_back,
.audio_w_covers .audio_row.audio_row_with_cover:hover .audio_row__cover_back {
    background-color: rgba(0, 0, 0, .5);
    -o-transition: background-color 100ms linear;
    transition: background-color 100ms linear
}

.audio_w_covers .audio_row .audio_row__inner {
    padding-left: 54px
}

.audio_w_covers .audio_row .audio_row__performer_title {
    height: 110%;
    top: 0
}

.audio_w_covers .audio_row .audio_row__title {
    float: none;
    position: relative;
    top: -12px;
    left: 0;
    padding-left: 0;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto
}

.audio_w_covers .audio_row .audio_row__title:before {
    display: none
}

.audio_w_covers .audio_row .audio_row__performer {
    float: none;
    position: relative;
    top: 25px;
    left: 0;
    color: #939393;
    font-weight: 400;
    max-width: inherit;
    display: inline-block
}

.audio_w_covers .audio_row .audio_row__performer:hover {
    text-decoration: underline
}

.audio_w_covers .audio_row .audio_row__actions {
    margin-top: -3px
}

.audio_w_covers .audio_row .audio_row__actions .audio_row__action_uma {
    padding-top: 7px
}

.audio_w_covers .audio_row .audio_row__duration {
    top: 17px
}

.audio_w_covers .audio_row .audio_row__lyrics {
    padding: 14px 11px 10px 54px
}
