<section class="module debug">
    <div class="f-for-dev"
        ng-controller="DebugModCtrl as ctrl"
        ng-class="{visible: ctrl_is_pressed || ctrl.options.debug._}">
        <p>
            <label class="f-label checkbox level-1 outside">
                <input type="checkbox" ng-model="ctrl.options.debug._">
                <span class="a-h1" ng-bind="i18n.debug.header"></span>
            </label>
        </p>
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="ctrl.options.debug.styles">
                <span ng-bind="i18n.debug.styles"></span>
            </label>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="ctrl.options.debug.log">
                <span ng-bind="i18n.debug.log"></span>
            </label>
        </p>
        <p>
            <button class="f-button" ng-click="clear_db()">
                Очистить локальную базу данных
            </button>
        </p>
    </div>
</section>
