<section class="module other"
    ng-controller="CommonOptionsCtrl as common">
    <p>
        <span class="a-h1" ng-bind="i18n.common"></span>
    </p>

    <div class="f-group">
<!--
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="options.download_button__simplified">
                <span ng-bind="i18n.download_button.simplified"></span><br />
                <span ng-bind="i18n.download_button.simplified__desc" class="a-description"></span>
            </label>
        </p>
-->

        <p ng-bind="i18n.filters.brackets"></p>
        <div class="grid">
            <div class="col-2">
                <p>
                    <label class="f-label checkbox">
                        <input type="checkbox" ng-model="options.filters__square_brackets">
                        <span ng-bind="i18n.filters.square_brackets"></span>
                    </label>
                </p>
            </div><div class="col-2">
                <p>
                    <label class="f-label checkbox outside">
                        <input type="checkbox" ng-model="options.filters__curly_brackets">
                        <span ng-bind="i18n.filters.curly_brackets"></span>
                    </label>
                </p>
            </div>
        </div>

    </div>
</section>
