/* Стили только для 2016 */
.kzvk-audio .audio_play_wrap{position: relative}

.kzvk-audio__button-wrapper{min-height: var(--a-btn-h); /*height: 34px;*/
    position: relative; float: left}

.kzvk-audio__play_button{display: block;
    width: var(--w-play); height: var(--a-btn-h); box-sizing: border-box;
    border-radius: var(--a-btn-radius);
    box-shadow: inset 0 0 0 1px rgba(87, 124, 161, .7);
    fill: rgba(87, 124, 161, .78)}

/* Почему -50% тупит? */
.kzvk-audio__play{transform: translate3d(-3px, -5px, 0); opacity: 1}
.kzvk-audio__pause{transform: translate3d(-4px, -5px, 0); opacity: 0}

.kzvk-audio.audio_row__playing .kzvk-audio__play{opacity: 0}
.kzvk-audio.audio_row__playing .kzvk-audio__pause{opacity: 1}

.audio_row.audio_deleted .kzvk-audio__play_button,
.audio_row.claimed .kzvk-audio__play_button{opacity: .4}

/*.wall_audio_rows:not(:first-child){margin-top: 8px}*/

/* Элемент аудиозаписи */
.kzvk-audio,
.audio_row.kzvk-audio{
    height: auto;
    min-height: calc(var(--a-btn-h) + var(--a-btn-padding)  * 2);
}
.kzvk-audio .audio_row_content{
    height: var(--a-btn-h);
    position: relative;
    padding: var(--a-btn-padding);
    transition:
        padding-bottom var(--a-btn-transition) ease}
.kzvk-audio .audio_row__inner{
    height: 100%;
    padding-left: calc(var(--w-play) + var(--a-btn-space))
}

.kzvk-audio .audio_row__info{
    height: var(--a-btn-h); line-height: var(--a-btn-h);
    position: relative;
    margin-left: 12px; margin-right: 0; padding: 0!important}

.kzvk-audio .audio_row__duration{
    height: var(--a-btn-h); line-height: var(--a-btn-h);
    top: auto!important}
.kzvk-audio:hover .audio_row__duration{display: none}

.kzvk-audio .audio_row__actions{
    height: 24px;
    margin-top: calc( (24px - var(--a-btn-h)) / -2 )!important}

/*.kzvk-audio .audio_row .audio_row__action{display: inline-block}*/

.kzvk-audio .audio_row__performer_title{
    height: var(--a-btn-h); line-height: var(--a-btn-h);
    top: auto!important;
    transition: none;
}
.kzvk-audio .audio_row__performer{max-width: 55%}

.kzvk-audio .audio_player__place{
    width: 100%; height: 12px;
    position: absolute;
    left: 0; top: calc(var(--a-btn-h) + var(--a-btn-padding) * 2);
    margin: 0; padding: 0 var(--a-btn-padding);
    opacity: 0;
    transition: opacity var(--a-btn-transition) ease}
.kzvk-audio .audio_inline_player{overflow: visible;
    padding-right: 65px}

.kzvk-audio .audio_inline_player_left{overflow: visible;
    padding-left: 1px; padding-right: 0}
.kzvk-audio .audio_inline_player_right{position: absolute;
    right: var(--a-btn-padding); margin-left: auto}
.kzvk-audio .audio_inline_player .slider{padding: 5px 0}
.kzvk-audio .audio_inline_player .slider_slide{height: 3px;
    background-color: white}
.kzvk-audio .audio_inline_player .slider_back{
    background-color: rgba(87, 124, 161, .08);
    background-image:
        linear-gradient(270deg,
            rgba(87, 124, 161, .1) 0px,
            rgba(87, 124, 161, 0) 3px)
}

.kzvk-audio .audio_row__title{
    transition: width var(--a-btn-transition) ease}

/*
.kzvk-audio .audio_inline_player .audio_player_hint{
    box-shadow: 0 0 0 1px rgba(0, 10, 30, .1)}
*/

.kzvk-audio.with-button .kzvk-audio__button-wrapper{
    padding-right: calc(var(--a-btn-space) + var(--a-btn-w))}
.kzvk-audio.with-button .audio_row__inner{
    padding-left: calc(
        var(--w-play) +
        var(--a-btn-w) +
        var(--a-btn-space) * 2)}
.kzvk-audio.with-button .audio_performer{max-width: 52%!important}

.kzvk-audio .kzvk-download-button{
    position: absolute; left: calc(var(--w-play) + var(--a-btn-space)); top: 0}

.kzvk-audio.audio_row__current .audio_player__place{opacity: 1}
.kzvk-audio.audio_row__current .audio_row_content{
    padding-bottom: calc(var(--a-btn-padding) * 2 + 10px)}

.kzvk-audio.audio_row__current:hover .kzvk-overlay{
    fill: rgb(234, 238, 242)}
.kzvk-audio.inlined.audio_row__current:hover .kzvk-overlay{
    fill: rgb(234, 238, 242)}
.kzvk-audio:not(.audio_row__current):hover .kzvk-overlay{
    fill: rgb(242, 244, 247)}

.audio_pl_edit_box.kzvk-audio-playlist-edit .ape_check{
    box-sizing: border-box;
    height: calc(var(--a-btn-padding) * 2 + var(--a-btn-h));
    padding: var(--a-btn-padding)}
.audio_pl_edit_box.kzvk-audio-playlist-edit .ape_check{
    transform: scale(0.85)}
.audio_pl_edit_box.kzvk-audio-playlist-edit .ape_check .ape_check_icon{
    margin-top: calc( (22px - var(--a-btn-h)) / -2 - 1px)}
