.kz-vk-audio{}

.kz-vk-audio__wrapper{width:38px; float:left; box-sizing:border-box;
     padding-top:9px; padding-right:9px;}

.kz-vk-audio__btn{width:100%; height:16px; position:relative; text-align:center;
    box-sizing:border-box; border:1px solid rgb(95,127,162); border-radius:3px;
    font-size:11px; line-height:14px; color:rgb(95,127,162);}
#audio.new .audio.current .kz-vk-audio__btn{border:1px solid white; color:white}

.kz-vk-audio__btn:before{content:attr(data-kbps)}
.kz-vk-audio__btn:hover:after{display:block; width:11px; height:13px;
    position:absolute; left:8px; top:-4px; content:"";
    background-image:url(chrome-extension://__MSG_@@extension_id__/audio/download.png)}
#audio.new .audio.current .kz-vk-audio__btn:hover:after{
    background-image:url(chrome-extension://__MSG_@@extension_id__/audio/download-c.png)}

.kz-vk-audio__bitrate--320{opacity:1}
.kz-vk-audio__bitrate--256{opacity:.85}
.kz-vk-audio__bitrate--196{opacity:.7}
.kz-vk-audio__bitrate--196:before{margin-left: -1px}
.kz-vk-audio__bitrate--128{opacity:.55}
.kz-vk-audio__bitrate--128:before{margin-left: -1px}
.kz-vk-audio__bitrate--96{opacity:.4}
.kz-vk-audio__bitrate--crap{opacity:.2}

.kz-vk-audio__btn:hover:before{opacity:0}
.kz-vk-audio__btn.kz-hidden{display:none}

/* Progress bar */
.kz-vk-audio__progress{width:100%; height:16px; position:relative; overflow:hidden;
    box-sizing:border-box; border:1px solid rgb(95,127,162); border-radius:3px;
    background-image:url(chrome-extension://__MSG_@@extension_id__/audio/abort.png);
    background-position:center center; background-repeat:no-repeat;
    font-size:11px; line-height:14px; color:rgb(95,127,162);}
.audio.current .kz-vk-audio__progress{border:1px solid white; color:white}

.kz-vk-audio__progress:before{content:attr(data-progress); position:relative; z-index:2}
.kz-vk-audio__progress:after{display:block; width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:3; content:""; opacity:0;
    background-position: center center; background-repeat: no-repeat;
    background-image: url(chrome-extension://__MSG_@@extension_id__/audio/abort.png)}
.audio.current .kz-vk-audio__progress:after{
    background-image: url(chrome-extension://__MSG_@@extension_id__/audio/abort-c.png)}
.kz-vk-audio__progress.kz-hidden{display:none}
.kz-vk-audio__progress:hover:before{opacity:0}
.kz-vk-audio__progress:hover:after{opacity:1}

.kz-vk-audio__progress-filling{width:100%; height:100%;
    position:absolute; left:-100%; top:0; z-index:1;
    background-color:rgba(95,127,162,.4);}


.kz-vk-audio #audio.new .audio .info{width:calc(390px - 38px);}
.kz-vk-audio #audio.new .audio .title_wrap{width:calc(330px - 38px);}

.kz-vk-audio #pad_playlist_panel .audio .info{width:calc(390px - 38px)}
.kz-vk-audio #pad_playlist_panel .audio .title_wrap{width:calc(336px - 38px)}
.font_medium.kz-vk-audio #pad_playlist_panel .audio .title_wrap{width:calc(331px - 38px)}

.kz-vk-audio .wall_module .play_btn_wrap{float:left; margin-right:35px;}
.kz-vk-audio .wall_module .play_btn_wrap + .kz-vk-audio__wrapper{width:35px; margin-left:-35px;
    padding-top:6px; padding-right:6px;}

.kz-vk-audio .wall_module .audio .title_wrap{width:calc(260px - 38px);}
.kz-vk-audio .wide_wall_module .audio .title_wrap{width:calc(430px - 38px);}

