.kz-vk-audio{}

.kz-vk-audio__wrapper{width:38px; height:16px; position:relative; float:left; box-sizing:border-box;
     margin-top:9px; padding-right:9px;
    -webkit-perspective:50px;
            perspective:50px;}

.kz-vk-audio__carousel{width:100%; height:100%; position:relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: -webkit-transform .25s ease;
    transition:         transform .25s ease;}

.kz-vk-audio__bitrate--320{opacity:1}
.kz-vk-audio__bitrate--256{opacity:.85}
.kz-vk-audio__bitrate--196{opacity:.7}
.kz-vk-audio__bitrate--196 > .kz-vk-audio__carousel__item.kz-bitrate:before{margin-left: -1px}
.kz-vk-audio__bitrate--128{opacity:.55}
.kz-vk-audio__bitrate--128 > .kz-vk-audio__carousel__item.kz-bitrate:before{margin-left: -1px}
.kz-vk-audio__bitrate--crap{opacity:.3}

.kz-vk-audio__carousel__item{display:block; width:100%; height:100%; box-sizing:border-box;
    position:absolute; left:0; top:0; opacity:0; pointer-events:none;
    border:1px solid rgb(95,127,162); border-radius:3px;
    text-align:center; font-size:11px; line-height:14px; color:rgb(95,127,162);
    transition: all .25s ease;}


.kz-vk-audio__carousel.kz-bitrate{
    -webkit-transform: translateZ(-14.5px) rotateY(0deg);
            transform: translateZ(-14.5px) rotateY(0deg);}
.kz-vk-audio__carousel__item.kz-bitrate{
    -webkit-transform: translateZ(14.5px) rotateY(0deg);
            transform: translateZ(14.5px) rotateY(0deg);}
.kz-vk-audio__carousel.kz-bitrate > .kz-vk-audio__carousel__item.kz-bitrate{
    opacity:1; pointer-events:auto}


.kz-vk-audio__carousel.kz-progress{
    -webkit-transform: translateZ(-14.5px) rotateY(-90deg);
            transform: translateZ(-14.5px) rotateY(-90deg);}
.kz-vk-audio__carousel__item.kz-progress{
    -webkit-transform: translateX(14.5px) rotateY(90deg);
            transform: translateX(14.5px) rotateY(90deg);}
.kz-vk-audio__carousel.kz-progress > .kz-vk-audio__carousel__item.kz-progress{
    opacity:1; pointer-events:auto}


.kz-vk-audio__carousel.kz-unavailable{opacity:.3;
    -webkit-transform: translateZ(-14.5px) rotateY(180deg);
            transform: translateZ(-14.5px) rotateY(180deg);}
.kz-vk-audio__carousel__item.kz-unavailable{
    -webkit-transform: translateZ(-14.5px) rotateY(180deg);
            transform: translateZ(-14.5px) rotateY(180deg);}
.kz-vk-audio__carousel.kz-unavailable > .kz-vk-audio__carousel__item.kz-unavailable{
    opacity:1; pointer-events:auto}

.kz-vk-audio__carousel__item.kz-bitrate{}
#audio.new .audio.current .kz-vk-audio__carousel__item{border:1px solid white; color:white}

.kz-vk-audio__carousel__item.kz-bitrate:before{content:attr(data-bitrate); opacity:1;
    /*transition: opacity .2s*/}
.kz-vk-audio__carousel__item.kz-bitrate:after{display:block; width:11px; height:13px;
    position:absolute; left:8px; top:-4px; opacity:0; content:"";
    background-image:url(chrome-extension://__MSG_@@extension_id__/audio/download.png);
    /*transition: opacity .1s*/}
#audio.new .audio.current
.kz-vk-audio__carousel__item.kz-bitrate:after{
    background-image:url(chrome-extension://__MSG_@@extension_id__/audio/download-c.png)}

.kz-vk-audio__carousel__item.kz-bitrate:hover:before{opacity:0;
    /*transition: opacity .1s*/}
.kz-vk-audio__carousel__item.kz-bitrate:hover:after{opacity:1;
    /*transition: opacity .2s*/}


/* Progress bar */
.kz-vk-audio__carousel__item.kz-progress{overflow:hidden;
    background-position:center center; background-repeat:no-repeat;}
.kz-vk-audio__carousel__item.kz-progress:before{content:attr(data-progress); position:relative; z-index:2}
.kz-vk-audio__carousel__item.kz-progress:after{display:block; width:100%; height:100%;
    position:absolute; top:0; left:0; z-index:3; content:""; opacity:0;
    background-position: center center; background-repeat: no-repeat;
    background-image: url(chrome-extension://__MSG_@@extension_id__/audio/abort.png)}
#audio.new .audio.current .kz-vk-audio__carousel__item.kz-progress:after{
    background-image: url(chrome-extension://__MSG_@@extension_id__/audio/abort-c.png)}
.kz-vk-audio__carousel__item.kz-progress:hover:before{opacity:0}
.kz-vk-audio__carousel__item.kz-progress:hover:after{opacity:1}

.kz-vk-audio__progress-filling{width:100%; height:100%;
    position:absolute; left:-100%; top:0; z-index:1;
    background-color:rgba(95,127,162,.4);
    transition: left .5s ease}


.kz-vk-audio__carousel__item.kz-unavailable{line-height:12px; font-size: 12px;}
.kz-vk-audio__carousel__item.kz-unavailable:before{content: "×_×"}


/* Sizes */
.kz-vk-audio #audio.new .audio .info{width:calc(390px - 38px);}
.kz-vk-audio #audio.new .audio .title_wrap{width:calc(330px - 38px);}
.kz-vk-audio #audio.new .audio .play_btn{margin-right:38px}
.kz-vk-audio #audio.new .audio .play_btn + .kz-vk-audio__wrapper{margin-left:-38px;}

.kz-vk-audio #pad_playlist_panel .audio .info{width:calc(390px - 38px)}
.kz-vk-audio #pad_playlist_panel .audio .title_wrap{width:calc(336px - 38px)}
.font_medium.kz-vk-audio #pad_playlist_panel .audio .title_wrap{width:calc(331px - 38px)}

.kz-vk-audio .wall_module .play_btn_wrap{float:left; margin-right:35px;}
.kz-vk-audio .wall_module .play_btn_wrap + .kz-vk-audio__wrapper{width:35px; margin-left:-35px;
    margin-top:6px; padding-right:6px;}
.kz-vk-audio .wall_module .audio .title_wrap{
    width:calc(260px - 35px)!important;}
.kz-vk-audio .wall_module .audio .reply_table .title_wrap{
    width:calc(200px - 35px)!important;}
.kz-vk-audio .wide_wall_module .audio .title_wrap{
    width:calc(430px - 35px)!important;}
.kz-vk-audio .wide_wall_module .reply_table .audio .title_wrap{
    width:calc(400px - 35px)!important;}

.kz-vk-audio .audio_results .play_btn_wrap{float:left; margin-right:35px;}
.kz-vk-audio .audio_results .play_btn_wrap + .kz-vk-audio__wrapper{width:35px; margin-left:-35px;
    margin-top:6px; padding-right:6px;}
.kz-vk-audio .results .audio .title_wrap{width:calc(360px - 35px)}

.kz-vk-audio .show_media .audio .play_btn_wrap{float:left; margin-right:35px;}
.kz-vk-audio .show_media .audio .play_btn_wrap + .kz-vk-audio__wrapper{width:35px; margin-left:-35px;
    margin-top:6px; padding-right:6px;}
.kz-vk-audio .show_media .audio .title_wrap{width:calc(510px - 35px)!important}
