/* Стили только для 2016 */
:root {
    --color-main: rgb(87, 124, 161);

    --a-btn-w: 34px;
    --a-btn-h: 20px;
    --a-btn-space: 6px;
    --a-btn-radius: 3px;
    --a-btn-padding: 6px;
    --a-btn-transition: .4s;

    --w-play: var(--a-btn-h);
}
