.kzvk-audio{}

.kzvk-audio .blind_label,
.kzvk-audio .audio_row__cover,
.kzvk-audio .audio_row__cover_back,
.kzvk-audio .audio_row__cover_icon,
.kzvk-audio .audio_row__counter,
.kzvk-audio .audio_row__play_btn{
    display: none;
};


/* Shuffle Button *//* Кнопка перемешивания */
.audio_page__shuffle_all.kzvk{
    height: auto;
    margin-bottom: 14px;
}

.audio_page__shuffle_all.kzvk > button{
    height: calc(var(--a-btn-h) + var(--a-btn-padding) * 2);
    line-height: calc(var(--a-btn-h) + 1px);
    padding-left: calc(var(--w-play) + var(--a-btn-padding) * 2);
}

.audio_page__shuffle_all.kzvk > button:before{
    width: var(--w-play);
    height: var(--a-btn-h);
    left: var(--a-btn-padding);
    top: auto;
}
