.kzvk-ui-profile_info_row{margin-bottom: 3px}

.kzvk-ui-page-header{position: relative; margin-top: 18px}
.kzvk-ui-id{display: block; position: absolute; left: 0; bottom: 100%;
    padding-bottom: 2px; font-weight: normal; color: rgba(0, 0, 0, .4)}
.kzvk-ui-id > a{color: inherit}

.kzvk-ui-unrounding .nim-peer .nim-peer--photo .im_grid > img,
.kzvk-ui-unrounding .nim-peer .nim-peer--photo > img,
.kzvk-ui-unrounding .nim-peer .nim-peer--photo-w,
.kzvk-ui-unrounding .module_body .people_cell_img,
.kzvk-ui-unrounding .top_profile_img,
.kzvk-ui-unrounding .top_profile_arrow,
.kzvk-ui-unrounding .post_img,
.kzvk-ui-unrounding .group_row_photo,
.kzvk-ui-unrounding .group_row_img,
.kzvk-ui-unrounding .friends_photo_img,
.kzvk-ui-unrounding .friends_photo_wrap .ui_zoom_inner,
.kzvk-ui-unrounding .wall_module .copy_post_img,
.kzvk-ui-unrounding .wall_module .reply_img,
.kzvk-ui-unrounding .reply_img,
.kzvk-ui-unrounding .feed_friend_image,
.kzvk-ui-unrounding .page_group_image,
.kzvk-ui-unrounding .page_list_module .cell_img,
.kzvk-ui-unrounding .page_list_module .thumb,
.kzvk-ui-unrounding .ow_ava.ow_ava_small,
.kzvk-ui-unrounding .like_tt_image,
.kzvk-ui-unrounding .poll_tt_image,
.kzvk-ui-unrounding .right_list_img,
.kzvk-ui-unrounding .apps_feed_user_img,
.kzvk-ui-unrounding .post_field_user_image,
.kzvk-ui-unrounding .submit_post_box .thumb_off,
.kzvk-ui-unrounding .submit_post_box .thumb_on,
.kzvk-ui-unrounding .ui_ownblock_img
    {border-radius: 4px}

.kzvk-ui-gray .friends_photo_img,
.kzvk-ui-gray .post_img,
.kzvk-ui-gray .page_group_image,
.kzvk-ui-gray .page_avatar_img,
.kzvk-ui-gray .copy_post_img,
.kzvk-ui-gray .reply_img,
.kzvk-ui-gray .people_cell_img,
.kzvk-ui-gray .cell_img,
.kzvk-ui-gray .dialogs_inline_chatter,
.kzvk-ui-gray .im_grid > img,
.kzvk-ui-gray .nim-peer--photo > img,
.kzvk-ui-gray .group_row_img,
.kzvk-ui-gray .right_list_img,
.kzvk-ui-gray .ow_ava.ow_ava_small,
.kzvk-ui-gray .apps_feed_user_img,
.kzvk-ui-gray .post_field_user_image,
.kzvk-ui-gray .submit_post_box .thumb_off,
.kzvk-ui-gray .submit_post_box .thumb_on,
.kzvk-ui-gray .ui_ownblock_img
    {-webkit-filter: grayscale(100%)}

.kzvk-ui-unrounding .online:after{}
