<section class="module ui"
    ng-controller="UIModCtrl as mod">
    <p>
        <label class="f-label checkbox level-1 outside">
            <input type="checkbox" ng-model="storage.ui.options._">
            <span class="a-h1" ng-bind="i18n.ui.header"></span>
        </label>
    </p>

    <div class="f-group" ng-class="{off: !storage.ui.options._}">
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.ui.options.ids">
                <span ng-bind="i18n.ui.ids"></span>
            </label>
        </p>
<!--
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.ui.options.sidebar_button">
                <span ng-bind="i18n.ui.sidebar_button"></span>
                <span class="f-2006-only"></span>
            </label>
        </p>
-->
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.ui.options.unrounding">
                <span ng-bind="i18n.ui.unrounding"></span>
<!--                <span class="f-2016-only"></span>-->
            </label>
        </p>

    </div>
</section>
