<section class="module trash"
    ng-controller="TrashModCtrl as mod">
    <p>
        <label class="f-label checkbox level-1 outside">
            <input type="checkbox" ng-model="storage.trash.options._">
            <span class="a-h1" ng-bind="i18n.trash.header"></span>
        </label>
    </p>
    <div class="f-group" ng-class="{off: !storage.trash.options._}">
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.sidebar_ads">
                <span ng-bind="i18n.trash.sidebar_ads"></span>
            </label>
        </p>
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.potential_friends">
                <span ng-bind="i18n.trash.potential_friends"></span>
            </label>
        </p>
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.group_recom">
                <span ng-bind="i18n.trash.group_recom"></span>
            </label>
        </p>
<!--
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.newsads">
                <span ng-bind="i18n.trash.newsads"></span>
                <span class="f-2006-only"></span>
            </label>
        </p>
-->
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.promoted_posts">
                <span ng-bind="i18n.trash.promoted_posts"></span>
            </label>
        </p>
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.profile_rate">
                <span ng-bind="i18n.trash.profile_rate"></span>
            </label>
        </p>
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.big_like">
                <span ng-bind="i18n.trash.big_like"></span>
            </label>
        </p>
<!--
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.user_reposts">
                <span ng-bind="i18n.trash.user_reposts"></span>
            </label>
        </p>
        <p>
            <label class="f-label checkbox">
                <input type="checkbox" ng-model="storage.trash.options.group_reposts">
                <span ng-bind="i18n.trash.group_reposts"></span>
            </label>
        </p>
-->
    </div>
</section>
