<section class="module trash">
    <div ng-controller="TrashModCtrl as mod">
        <p>
            <label class="f-label checkbox level-1 outside">
                <input type="checkbox" ng-model="mod.options._">
                <span class="a-h1" ng-bind="i18n.trash.header"></span>
            </label>
        </p>
        <div class="f-group" ng-class="{off: !mod.options._}">
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.sidebar_ads">
                    <span ng-bind="i18n.trash.sidebar_ads"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.potential_friends">
                    <span ng-bind="i18n.trash.potential_friends"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.group_recom">
                    <span ng-bind="i18n.trash.group_recom"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.feed_since_photos">
                    <span ng-bind="i18n.trash.feed_since_photos"></span>
                </label>
            </p>
    <!--
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.newsads">
                    <span ng-bind="i18n.trash.newsads"></span>
                    <span class="f-2006-only"></span>
                </label>
            </p>
    -->
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.promoted_posts">
                    <span ng-bind="i18n.trash.promoted_posts"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.ads_in_group">
                    <span ng-bind="i18n.trash.ads_in_group"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.profile_rate">
                    <span ng-bind="i18n.trash.profile_rate"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.big_like">
                    <span ng-bind="i18n.trash.big_like"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.chat">
                    <span ng-bind="i18n.trash.chat"></span>
                </label>
            </p>
    <!--
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.user_reposts">
                    <span ng-bind="i18n.trash.user_reposts"></span>
                </label>
            </p>
            <p>
                <label class="f-label checkbox">
                    <input type="checkbox" ng-model="mod.options.group_reposts">
                    <span ng-bind="i18n.trash.group_reposts"></span>
                </label>
            </p>
    -->
        </div>
    </div>
</section>
