/**
 *  Сброс стилей
 *  Автор: icw82 aka Айсик Бендер
 *  Почта: icw82@yandex.ru
 *  2014.12.02
 */
body{padding:0; margin:0; font-size:100%; line-height:1.4; font-size-adjust:none;
    font-style:normal; font-weight:normal; font-variant:normal}
body *{font:inherit; line-height:inherit}
h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, address, blockquote, div, pre, hr, form,
article, aside, figure, figcaption, footer, header, hgroup, nav, section,details, summary{
    display:block; padding:0; margin:0; border:none; float:none; box-sizing:border-box}
a, span, del, ins, abbr, acronym, dfn, em, strong,
code, samp, kbd, var, b, i, small, sub, sup, bdo, cite, q,
legend, label, canvas, mark, output, time{
    display:inline; padding:0; margin:0; background:none; border:none; vertical-align:inherit;
    color:inherit; text-decoration:inherit}
table, caption, colgroup, col, thead, tbody, tfoot, tr, th, td{
    padding:0; margin:0; border:none; border-spacing:0; border-collapse:collapse;
    vertical-align:top; text-align:left; caption-side:top}
hr{color:inherit; background:none; height:auto}
img{display:inline; width:auto; height:auto; border:none}
li{display:list-item; list-style:none none}
select{font:inherit}
q::before, q::after{content:''}
a, button{cursor:pointer; outline:none}
button:disabled,
button.disabled{cursor:default; opacity:.7}
