{% extends 'base.html' %}

{% block content %}
<div class="compensator">
    <div class="grid">
        <div class="col-4">
            <p>
                <button class="f-button" ng-click="defaults()"
                    ng-bind="i18n.reset"></button>
            </p>
        </div><div class="col-4">
            <p class="a-info" ng-bind="i18n.info.changes"></p>
        </div><div class="col-4">
            <p class="a-info" ng-bind-html="i18n.info.beta"></p>
        </div>
    </div>

    <div class="mb-lead"></div>
    <div class="mb-lead"></div>

    <div class="grid delimited modules">
        <div class="col-4">
{% include 'm-audio.html' %}
{% include 'm-scrobbler.html' %}
    </div><div class="col-4">
{% include 'm-video.html' %}
{% include 'm-ui.html' %}
{% include 'm-debug.html' %}

    </div><div class="col-4">
{% include 'm-trash.html' %}
{% include 'm-other.html' %}
        </div>
    </div>
</div>
{% endblock %}
