/* Стили только для 2006 */
.kzvk-download-button{width: 29px; height: 16px; box-sizing: border-box;
    perspective: 50px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}


.kzvk-download-button__carousel{display: block; width: 100%; height: 100%; position: relative;
    text-decoration: none}

.kzvk-download-button__item{display: block; width: 100%; height: 100%; box-sizing: border-box;
    position: absolute; left: 0; top: 0; opacity: 0; pointer-events: none;
    border: 1px solid; border-radius: 3px; color: rgb(95, 127, 162);
    text-align: center; font-size: 11px; line-height: 14px;
    transition: all .25s ease}

.kzvk-download-button__item.kzvk-label:before{
    content: attr(data-label); opacity: 1}
.kzvk-download-button__item.kzvk-label:after{display: block; width: 11px; height: 13px;
    position: absolute; left: 8px; top: -4px; opacity: 0; content: "";
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/download.png)}

#audio.new .kzvk-audio.current .kzvk-download-button__item.kzvk-label:after,
#pad_playlist .kzvk-audio.current .kzvk-download-button__item.kzvk-label:after,
#pad_search_list .kzvk-audio.current .kzvk-download-button__item.kzvk-label:after{
    background-image: url(chrome-extension://__MSG_@@extension_id__/images/download-c.png)}
.kzvk-download-button__item.kzvk-label:hover:before{opacity: 0}
.kzvk-download-button__item.kzvk-label:hover:after{opacity: 1}

/*
 *  Трансформации
 */
.kzvk-download-button__carousel{
    transform-style: preserve-3d;
    transition:         transform .25s ease}

.kzvk-label .kzvk-download-button__carousel{
    transform: translateZ(-14.5px) rotateY(0deg)}
.kzvk-download-button__item.kzvk-label{
    transform: translateZ(14.5px) rotateY(0deg)}
.kzvk-label
    .kzvk-download-button__item.kzvk-label{opacity: 1; pointer-events: auto}


.kzvk-progress .kzvk-download-button__carousel{
    transform: translateZ(-14.5px) rotateY(-90deg)}
.kzvk-download-button__item.kzvk-progress{
    transform: translateX(14.5px) rotateY(90deg)}
.kzvk-progress
    .kzvk-download-button__item.kzvk-progress{opacity: 1; pointer-events: auto}


.kzvk-unavailable .kzvk-download-button__carousel{opacity: .4;
    transform: translateZ(-14.5px) rotateY(180deg)}
.kzvk-download-button__item.kzvk-unavailable{
    transform: translateZ(-14.5px) rotateY(180deg)}
.kzvk-unavailable
    .kzvk-download-button__item.kzvk-unavailable{opacity: 1 !important; pointer-events: auto}


.kzvk-pending .kzvk-download-button__carousel{
    transform: translateZ(-14.5px) rotateY(90deg)}
.kzvk-download-button__item.kzvk-pending{
    transform: translateX(-14.5px) rotateY(-90deg)}
.kzvk-pending
    .kzvk-download-button__item.kzvk-pending{opacity: 1 !important; pointer-events: auto}

/*
 *  Упращённая версия
 */
.kzvk-download-button__carousel.kzvk-simplified-view{
    transform-style: flat;
    transition: none;
    transform: none;
}
.kzvk-simplified-view > .kzvk-download-button__item{
    transform: none;
}
