.kzvk-trash__bin{overflow: hidden; height: 0; position: relative}
.kzvk-trash__profile_rate #profile_counts{margin-bottom: 10px}
.kzvk-trash__profile_rate .rate_line{display: none}
.kzvk-trash__profile_rate .profile_rate_warning{display: none}

#kzvk .kzvk-trash__hidden-shit{overflow: hidden; height: 0; margin: 0; padding: 0; border: none}
