/* Стили только для 2016 */
:root {
    --h: 24px;
    --w-play: 24px;
    --space: 6px;
}

.kzvk-audio .audio_play_wrap{position: relative}

/* Кнопка play */
.kzvk-audio__original_play_button{display: none}
.kzvk-audio__play_button{display: block;
    width: var(--w-play); height: var(--h); box-sizing: border-box;
/*    margin-top: 1px;*/
    border: 1px solid rgb(87, 124, 161); border-radius: 50%; fill: rgb(87, 124, 161)}

.kzvk-audio__play{transform: translate3d(8px, 6px, 0); opacity: 1}
.kzvk-audio__pause{transform: translate3d(7px, 6px, 0); opacity: 0}

.kzvk-audio.audio_row_playing .kzvk-audio__play{opacity: 0}
.kzvk-audio.audio_row_playing .kzvk-audio__pause{opacity: 1}

.audio_row.audio_deleted .kzvk-audio__play_button,
.audio_row.claimed .kzvk-audio__play_button{opacity: .4}



/* Элемент аудиозаписи */
.kzvk-audio{}
.kzvk-audio.with-button{}
.kzvk-audio.with-button .audio_play_wrap{width: 64px}

.kzvk-audio .kzvk-download-button{height: var(--h);
    position: absolute; left: calc(var(--w-play) + var(--space)); top: 0}

.kzvk-audio.inlined.audio_row_current .kzvk-download-button{height: 16px; line-height: 14px}
.kzvk-audio.inlined.audio_row_current .kzvk-head{transform: translateY(1px)}
.kzvk-audio.inlined.audio_row_current
    .kzvk-download-button__item.kzvk-pending .kzvk-arrow{transform: translate(10px, 5px)}
.kzvk-audio.inlined.audio_row_current
    .kzvk-download-button__item.kzvk-pending .kzvk-cross{transform: translate(12px, 4px)}

.kzvk-audio:not(.audio_row_current):hover .kzvk-overlay{fill: rgb(245, 247, 250)}
